.MixingBoard {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & .title {
        & h1 {
            color: black;
        }
    }

    & .color_pickers {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;

        & section {
            width: 80%;
            margin: 0 10%;
            display: flex;
            flex-direction: column;
            align-items: center;

            & h2 {
                color: rgb(20, 20, 20);
            }

            & .hue-picker {
                width: 100%;
            }
        }

        & #bg {}

        & #fg {}
    }
}

#btn_black {
    width: 80%;
    color: black;
    border: 2px solid black;

    &:hover {
        color: white;
        background-color: black;
    }
}

#labelSong {
    display: none;
}